@model LoginViewModel

@{
    var returnUrl = @Context.Request.Query["returnurl"];
}

<form asp-controller="Auth" asp-action="Login" asp-route-returnurl="@returnUrl">
    <div>
        <label for="UserName" >UserName</label>
        <input asp-for=UserName/>
    </div>
    <div>
        <label for="Password">Password</label>
        <input asp-for=Password/>
    </div>
    <input type="submit" value="Sign in" />
</form>